.BuildControlContainer{
  display:grid;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  grid-gap:20px;
  justify-items: start;
  grid-template-columns: 1fr auto auto;
  font-weight: 400;
 
}

.text{
  letter-spacing:2px;
  font-size:25px;   
  font-family:'Lato','Courier New';
}
.Salad{
  color:rgb(93, 216, 93);
  transition:all .3s;
}
.Salad:hover{
  transform: rotate(-5deg) scale(1.1);
}
.Meat{
  color:brown;
  transition:all .3s;
}
.Meat:hover{
  transform: rotate(-5deg) scale(1.1);
}
.Bacon{
  color:orange;
  transition:all .3s;
}
.Bacon:hover{
  transform: rotate(-5deg) scale(1.1);
}
.Cheese{
  color:#EDB91F;
  transition:all .3s;
}
.Cheese:hover{
  transform: rotate(-5deg) scale(1.1);
}
.add{
  color: green;
  padding: 10px;
  background: white;
  border-radius: 2px;
  box-shadow: 1px 0px 3px grey; 
  transition:all .3s;
}
.add:hover{
  cursor:pointer;
  transform: translateY(-2px);
}
.remove{
  color: red;
  padding: 10px;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 0px 3px grey; 
  transition:all .3s;
}
.remove:hover{
  cursor:pointer;
  transform: translateY(-2px);
}